{% extends "base.html" %}
{% block title %}
    New Order
{% endblock %}
{% block content %}
<h1>
    BUY MORE PIZZA
</h1>
<form action="{{url_for('order.add_to_basket')}}" method="POST">
    <div> 
        <h5>Size</h5>
        {% for size in sizes %}
        <div class="card-body" style="display:inline-block;">
            <input type="radio" id='sizes' name='selected_size' value={{size.size_id}}  {% if size.size_id == 3 %} checked {% endif %}>
            <label for={{size.size_id}}>{{ size.external_name }}, {{ size.inches}} Inch, £{{ size.cost }}</label>
        </div>
        {% endfor %}
    </div>
    <hr>
    <div> 
        <h5>Cheese</h5>
        {% for topping in toppings %}
        {% if topping.topping_category == 'Cheese' %}
        <div class="card-body" style="display:inline-block;">
            <p class="card-text"> {{ topping.topping_name }} £{{ topping.cost }}</p>
            <input type="checkbox" id='cheeses' name='selected_topping' value={{topping.topping_id}}  {% if topping.topping_name == 'Mozzarella' %} checked {% endif %}>
            <label for="cheese_selected">Choose this Cheese</label>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div> 
        <h5>Meat</h5>
        {% for topping in toppings %}
        {% if topping.topping_category == 'Meat' %}
        <div class="card-body" style="display:inline-block;">
            <p class="card-text"> {{ topping.topping_name }} £{{ topping.cost }}</p>
            <input type="checkbox" id='Meats' name='selected_topping' value={{topping.topping_id}}>
            <label for="meat_selected">Choose this Meat</label>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div> 
        <h5>Veg</h5>
        {% for topping in toppings %}
        {% if topping.topping_category == 'Vegetables' %}
        <div class="card-body" style="display:inline-block;">
            <p class="card-text"> {{ topping.topping_name }} £{{ topping.cost }}</p>
            <input type="checkbox" id='vegetables' name='selected_topping' value={{topping.topping_id}}>
            <label for="veg_selected">Choose this Veg</label>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div> 
        <h5>Extras</h5>
        {% for topping in toppings %}
        {% if topping.topping_category == 'misc' %}
        <div class="card-body" style="display:inline-block;">
            <p class="card-text"> {{ topping.topping_name }} £{{ topping.cost }}</p>
            <input type="checkbox" id='extras' name='selected_topping' value={{topping.topping_id}}>
            <label for="extra_selected">Choose this extra</label>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <input type="submit" value="Add To Basket">
</form>
{% endblock %}